
.m-plus-1p-regular {
  font-family: "M PLUS 1p", serif;
  font-weight: 400;
  font-style: normal;
}

.noto-sans-jp {
    font-family: "Noto Sans JP", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }


.dancing-script {
    font-family: "Dancing Script", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }

  .potta-one-regular {
    font-family: "Potta One", serif;
    font-weight: 400;
    font-style: normal;
  }

  html{
    overflow: auto;
}
body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: serif;
    color: #000;
    background-color: #fff;
}
#allofall{
    position: relative;
    width: 90%;
    height: 68%;
    margin: 20px auto;
    background-color: #000;
    overflow: hidden;
}
.namecon {
  position: absolute; 
  bottom: 120px;
  left: 10px;
  z-index: 3;
  width: 160px;
  user-select: none;
  height: 40px;
  background-color: rgb(224, 141, 114);
  opacity: 0.9;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 2px solid #e27d00;
}

.name {
  bottom: 6px;
  left: 0;
  right: 0;
  position: absolute;
  text-align: center;
  font-size: 25px;
  color: #ffffff;
  z-index: 4;
}

.seriba {
  background-color: rgb(102, 88, 88);
  bottom: 0;
  left: 0;
  width: 100%;
  height: 120px;
  position: absolute;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  opacity: 0.9;
  z-index: 3;
  border: 2px solid #e27d00;

}

.serif {
  position: absolute;
  left: 30px;
  font-size:20px;
  top: 15px;
  z-index: 4;
  color: #fff;
  user-select: none;

}

.contents {
  width: 100%;
  height: 100vh;
  user-select: none;

}


.img {
  height: 90%;
  bottom: 0;
  left: 0;
  right: 0;
  bottom: 10px;
  margin: 0 auto;
  position: absolute;
  z-index: 2;
}

.img1 {
  height: 90%;
  bottom: 0;
  left: 0;
  right: 0;
  bottom: 10px;
  margin: 0 auto;
  position: absolute;
  z-index: 2;
}

.img2 {
  height: 90%;
  bottom: 0;
  left: 0;
  bottom: 10px;
  margin: 0 auto;
  position: absolute;
  z-index: 2;
}

.img3 {
  height: 90%;
  bottom: 0;
  right: 0;
  bottom: 10px;
  margin: 0 auto;
  position: absolute;
  z-index: 2;
}

.imgbac {
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  position: absolute;
 z-index: 1;

}

.ntBtn {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  opacity: 0;
  z-index: 5;
}
.ntBtnx {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  opacity: 0;
  cursor: default;
  z-index: 3;
}


.ifBtna {
  position: absolute;
  text-align: center;
  font-size: 30px;
  z-index: 6;
  width: 40%;
  height: 7vh;
  left: 0;
  right: 0;
  margin: 30vh auto;
  background-color: rgb(230, 233, 145);
  border: double 5px #000000;
}

.ifBtnb {
  position: absolute;
  text-align: center;
  font-size: 30px;
  z-index: 6;
  width: 40%;
  height: 7vh;
  left: 0;
  right: 0;
  margin: 40vh auto;
  background-color: rgb(230, 233, 145);
  border: double 5px #000000;
}

.ifBtnc {
  position: absolute;
  text-align: center;
  font-size: 30px;
  z-index: 6;
  width: 40%;
  height: 7vh;
  left: 0;
  right: 0;
  margin: 50vh auto;
  background-color: rgb(230, 233, 145);
  border: double 5px #000000;
}

.ifBeBtn {
  background-color: black;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: 5;
}

.clabImgSc {
  left: 0;
  right: 0;
  height: 100%;
  bottom: 100px;
  margin: 0 auto;
  position: absolute;
  z-index: 2;
}

  .hidden {
    display: none;
  }